datacenter = "{{ consul_datacenter }}"
data_dir = "{{ consul_data_dir }}"
server = true
bootstrap_expect = 1
bind_addr = "{{ consul_bind_addr }}"
client_addr = "0.0.0.0"
ui_config { enabled = true }

telemetry {
  prometheus_retention_time = "24h"
  disable_hostname = true
}
{% if consul_acl_enabled %}
acl {
  enabled        = true
  default_policy = "{{ consul_acl_default_policy }}"
  enable_token_persistence = true
  tokens {
    default = "{{ consul_dns_token }}"
  }
}
{% endif %}
